{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<h2>Registro</h2>
<div class='row d-flex justify-content-center'>
    <div class='col-md-8'>
        <div class='card shadow-sm p-3 mb-5 bg-body rounded'>
            <div class="btn-group d-flex flex-row mb-3 justify-content-evenly">
                <div class='w-30'>
                    <a href="{% url 'account_login' %}" class="btn btn-secondary btn-lg rounded-3">Iniciar sesión</a>
                </div>
                <div class='w-25'>
                    <a href="{% url 'account_signup' %}" class="btn btn-primary btn-lg rounded-3">Registrarme</a>
                </div>
            </div>
            <div class='container mt-5'>
                <form id="signup-form" method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-primary">Registrarme</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}