{% extends "base.html" %}
{% load static %}

{% block content %}


<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6">
                <img class="card-img-top thumbnail" src="{{ producto.imageURL }}" alt="imagen" />
            </div>
            <div class="col-md-6">
                <div class="small mb-1">SKU: BST-498</div>
                <h1 class="display-5 fw-bolder">{{ producto.producto }}</h1>
                <div class="fs-5 mb-5">
                    <span>${{ producto.precio }}</span>
                </div>
                <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium at dolorem quidem modi. Nam sequi consequatur obcaecati excepturi alias magni, accusamus eius blanditiis delectus ipsam minima ea iste laborum vero?</p>
                <div class="d-flex">
                    <input class="form-control text-center me-3" id="inputQuantity" type="number" value="1" style="max-width: 3rem" />
                    <button class="btn btn-outline-dark d-flex align-items-center agregar-carrito" 
                            data-producto-id="{{ producto.id }}">
                        <i class="bi-cart-fill me-1"></i> Agregar al carrito
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const botones = document.querySelectorAll('.agregar-carrito');
    
        botones.forEach(boton => {
            boton.addEventListener('click', function (event) {
                event.preventDefault(); // Evita la navegación predeterminada
                const productoId = this.dataset.productoId;
                const quantity = document.getElementById('inputQuantity').value || 1; // Valor predeterminado: 1
    
                fetch(`/agregar-carrito/${productoId}/?quantity=${quantity}`, {
                    method: 'GET',
                    headers: {
                        'X-Requested-With': 'XMLHttpRequest'
                    },
                })
                .then(response => response.json())
                .then(data => {
                    alert(data.message); // Muestra el mensaje de éxito
                    // Actualiza el contador del carrito
                    const contador = document.getElementById('cart-counter');
                    if (contador) {
                        contador.textContent = data.carrito_items; // Actualiza con el nuevo total
                    }
                })
                .catch(error => console.error('Error:', error));
            });
        });
    });
</script>
{% endblock %}